@font-face {
  font-family: "Orbitron";
  src: url("../src/assets/fonts/Orbitron/static/Orbitron-Regular.ttf");
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header > h1,
form,
.todo-list {
  display: flex;
  justify-content: center;
  padding: 10px 16px;
  width: 50%;
  margin: 20px auto;
}

header > h1 {
  background-color: blueviolet;
  color: lime;
  font-family: "Orbitron";
  letter-spacing: 5px;
}

.todo-list {
  flex-direction: column;
}
form {
  line-height: 1.25;
}
form,
.todo-list {
  gap: 32px;
  background-color: green;
}

.todo-list > div {
  display: flex;
  justify-content: space-between;
}
.todo-list > div > div {
  display: flex;
  gap: 16px;
}
.line-through {
  text-decoration: line-through;
}
